[submodule "packages/ruby"]
	path = packages/ruby
	url = https://github.com/cloudfoundry/ruby-package
[submodule "shared"]
	path = shared
	url = https://github.com/cloudfoundry/shared-release-packages.git
[submodule "src/v1-dummy-broker/vendor/integration-test-support"]
	path = src/v1-dummy-broker/vendor/integration-test-support
	url = git@github.com:cloudfoundry/integration-test-support.git
